<ion-view>
    <ion-content scroll="false" has-bouncing="false">
        <div class="bodyLogin"></div>
        <!-- <div class="grad"></div> -->
        <div class="headerLogin">
            <img ng-src="{{mediaPath+site_img}}" width="200">
        </div>
        <br>
        <div class="login">
            <input type="text" placeholder="Identifiant" name="user" ng-model="form.login">
            <br>
            <input type="password" placeholder="Password" name="password" ng-model="form.password">
            <br>
            <a style="margin:0px;height:35px" class="button button-block button-small button-positive" ng-click="login()">Login</a>
        </div>
        <div class="logoLogin" ng-click="resetLS()">
            <img src="img/logo/icon_ini.png" height="160">
        </div>
        <div class="version light txtright">Version : {{versionApp}} | {{clientId}} | {{siteId}} <br/>V.Univers : {{versionUni}}<br/>V.Candidats : {{versionUser}}</div>
    </ion-content>
</ion-view>
